.form {
    display: flex;
    margin: auto;
    font-size: 1.5em;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    direction: rtl;

    .form-item {
        display: flex;
        flex: 0 0 50%;
        margin: auto;

        div {
            display: flex;
        }
        input {
            margin-right: 1em;
            border: none;
            border-bottom: 1px solid black;
        }
        input:invalid {
            border-color: red;
        }
        input:valid {
            border-color: black;
        }
        input:focus {
            outline: none;
        }
    }

    .form-submit{
        margin: auto;
        width: 30%;
        input {
            width:100%;
            cursor: pointer;
            border-radius: 30px;
        }
    }
}