.form {
    display: flex;
    justify-content: center;
    direction: rtl;

    .form-item {
        display: flex;
        margin: auto;

        div {
            display: flex;
        }
        input {
            margin-right: 1em;
            border: none;
            border-bottom: 1px solid black;
        }
        input:invalid {
            border-color: red;
        }
        input:valid {
            border-color: black;
        }
        input:focus {
            outline: none;
        }
    }

    .form-submit{
        margin: auto;
    }
}